@page "/"
@using System.Text

<h1>Native Dependencies - Experiments</h1>
<hr />
<p>Look at the console output in browser development tools</p>
<pre>@echo</pre>

@code {
    struct Legs
    {
        public float X { get; set; }
        public float Y { get; set; }
    }

    [DllImport("Sample")]
    static extern void greeting();

    [DllImport("Sample", CallingConvention = CallingConvention.Cdecl)]
    static extern float hypotenuse(Legs legs);

    string echo = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Echo("Calling C++ function...");
        await Task.Delay(2000);
        CallCppFunctions();
    }

    void CallCppFunctions()
    {
        greeting(); // console output

        var legs = new Legs { X = 9, Y = 11 };
        var h = hypotenuse(legs);

        Echo("Function passing a structure as parameter:");
        Echo(string.Format("From C++: Hypotenuse({0}, {1}) = {2}\n", legs.X, legs.Y, h));
    }

    void Echo(string? message = null)
    {
        if (message is null)
            echo = string.Empty;
        else {
            echo += $"{message}\n";
            StateHasChanged();
        }
    }
}