@page "/callback-sample"
@using System.Text

<h1>Native Dependencies - Callbacks</h1>
<hr />
<pre>@echo</pre>

@code {
    delegate void CppCallback(int number);
    
    [DllImport("CallbackSample")]
    static extern void UnmanagedPrompt(CppCallback cppCallback);

    string echo = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Echo("Try C++ Callback...");
        await Task.Delay(2000);

        Echo("Assertion at /__w/1/s/src/mono/mono/metadata/loader.c:1806, condition `<disabled>' not met");
        UnmanagedPrompt(HandlePrompt);
    }

    private void HandlePrompt(int number)
    {
        Echo(); // clear
        Echo($"Called back by unmanaged side. Number: {number}");
    }

    void Echo(string? message = null)
    {
        if (message is null) {
            echo = string.Empty;
        }
        else {
            var sb = new StringBuilder();
            sb.Append(echo);
            sb.Append(message);
            sb.Append("\n");
            echo = sb.ToString();
            StateHasChanged();
        }
    }
}