@page "/cpp-method"
@using System.Text

<h1>Native Dependencies - Experiments</h1>
<hr />
<p>Working with C++ Method (instance)</p>
<pre>@echo</pre>

@code {
    const string CPPLIB = "Something"; // C++ Class

    [DllImport(CPPLIB)] static extern nint somethig_new(int value);
    [DllImport(CPPLIB)] static extern void something_delete(nint obj);
    [DllImport(CPPLIB)] static extern int something_get_value(nint obj);

    string echo = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Echo("Calling C++ Method");
        await Task.Delay(500);

        var instance = somethig_new(13);

        var value = something_get_value(instance);

        Echo(string.Format("instance : {0}", instance));
        Echo(string.Format("value    : {0}", value));

        something_delete(instance);
    }

    void Echo(string? message = null)
    {
        if (message is null)
            echo = string.Empty;
        else {
            echo += $"{message}\n";
            StateHasChanged();
        }
    }
}