@page "/"
@using System.Text

<h1>Native Dependencies</h1>
<hr />
<pre>
@echo
</pre>

@code {
    struct Legs
    {
        public float X { get; set; }
        public float Y { get; set; }
    }

    // OPERATIONS
    [DllImport("Operations", CallingConvention = CallingConvention.Cdecl)]
    static extern float hypotenuse(Legs legs);

    string echo = "Ready.";

    void CallCppFunction()
    {
        var legs = new Legs { X = 9, Y = 11 };
        var h = hypotenuse(legs);

        Echo(string.Format("Call C++\nHypotenuse({0}, {1}) = {2}\n", legs.X, legs.Y, h));
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        CallCppFunction();
    }

    void Echo(string? message = null)
    {
        if (message is null) {
            echo = string.Empty;
        }
        else {
            var sb = new StringBuilder();
            sb.Append(echo);
            sb.Append(message);
            sb.Append("\n");
            echo = sb.ToString();
        }
    }
}