@page "/"
<style>
    .center {
        margin: 5% auto;
        width: 80%;
        text-align:center;
    }

    .title {
        font-family: Tahoma;
        font-size: 24px;
        color: darkgray;
        font-weight: 500;
    }

    .subtitle {
        font-size: 17px;
        color: #888;
    }
</style>

<PageTitle>SignalR Summary</PageTitle>

<div class="center">
    <p class="title">C++ in Blazor</p>
    <hr />
    <img src="images/cpp.png" />
    <hr />
    <p class="subtitle">A succinct demonstration of using C++ in Blazor WebAssembly</p>
</div>
