@page "/struct-sample"
@using System.Text

<h1>Native Dependencies - Experiments</h1>
<hr />
<p>Working with C++ struct</p>
<pre>@echo</pre>

@code {
    const string CPPLIB = "StructSample";

    record struct XY(int x, int y);
    // POINTER
    [DllImport(CPPLIB)] static extern IntPtr get_xy_ptr();
    // EXPLICIT
    [DllImport(CPPLIB)] static extern int sum_xy(XY p);

    string echo = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Echo("Calling C++ Struct Sample");
        await Task.Delay(500);

        var xy = new XY { x = 15, y = 23 };

        var sum = sum_xy(xy);

        Echo("Function passing a structure as parameter:");
        Echo(string.Format("x: {0} y: {1}\n", xy.x, xy.y));
        Echo(string.Format("Sum: {0}", sum));

        // Pointers for emscripten. The function has to return a static result.
        IntPtr pointer = get_xy_ptr();
        XY xyCpp = Marshal.PtrToStructure<XY>(pointer);

        Echo("\nGetting a structure from C++ Library");
        Echo(string.Format("xyCpp: {0}", xyCpp));
    }

    void Echo(string? message = null)
    {
        if (message is null)
            echo = string.Empty;
        else {
            echo += $"{message}\n";
            StateHasChanged();
        }
    }
}